@use 'sass:math';

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl" : 1600px,
  "3xl" : 2200px);

$displays: (none, block, inline, inline-block, flex);

$margin-spacings: (
  "auto": auto,
  "0": 0rem,
  "1": 1rem,
  "2": 2rem,
  "3": 3rem,
  "4": 4rem,
  "5": 5rem);

$padding-spacings: (
  "0": 0rem,
  "1": 1rem,
  "2": 2rem,
  "3": 3rem,
  "4": 4rem,
  "5": 5rem);

.grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: inherit;
  align-items: flex-start;
  width: 100% !important;
  padding: 0rem;
}

[class*='col-xxl-'],[class*='col-xl-'],[class*='col-lg-'], [class*='col-md-'], [class*='col-sm-'], [class*='col-'] {
  margin: 0 0.5% 10px 0.5%;
}

.no-gutters {
  [class*='col-xxl-'],[class*='col-xl-'],[class*='col-lg-'], [class*='col-md-'], [class*='col-sm-'], [class*='col-'] {
    margin: 0 0 10px 0;
  }
}

.relaxed-gutters {
  [class*='col-xxl-'], [class*='col-lg-'], [class*='col-md-'], [class*='col-sm-'], [class*='col-'] {
    margin: 0 1% 10px 1%;
  }
}

.masonry-column{
  position: relative;
  margin-bottom: 0 !important;
  .masonry-item{
    position: absolute;
    width: 100%;
    height: auto;
  }
}

@each $display-value in $displays{
  .d-#{$display-value}{
    display: $display-value;
  }
}

@each $spacing-name, $spacing-value in $margin-spacings{
  //Margins
  .mt-#{$spacing-name}{
    margin-top: $spacing-value;
  }
  .mr-#{$spacing-name}{
    margin-right: $spacing-value;
  }
  .mb-#{$spacing-name}{
    margin-bottom: $spacing-value;
  }
  .ml-#{$spacing-name}{
    margin-left: $spacing-value;
  }
}

@each $spacing-name, $spacing-value in $padding-spacings{
//Paddings
  .pt-#{$spacing-name}{
    padding-top: $spacing-value;
  }
  .pr-#{$spacing-name}{
    padding-right: $spacing-value;
  }
  .pb-#{$spacing-name}{
    padding-bottom: $spacing-value;
  }
  .pl-#{$spacing-name}{
    padding-left: $spacing-value;
  }
}
@for $i from 1 through 12 {

  .col-#{$i}{
    flex-basis: math.div(100% , math.div(12 , $i)) - 1%;
    max-width: math.div(100% , math.div(12 , $i)) - 1%;
  }

  .no-gutters{
    .col-#{$i}{
      flex-basis: math.div(100% ,  math.div(12 , $i)) - 0%;
      max-width: math.div(100% ,  math.div(12 , $i)) - 0%;
    }
  }

  .relaxed-gutters{
    .col-#{$i}{
      flex-basis: math.div(100% ,  math.div(12 , $i)) - 2%;
      max-width: math.div(100% ,  math.div(12 , $i)) - 0%;
    }
  }
  
}

@mixin viewport-columns($screen-type: col-xxl, $gutter: 1%) {
  @for $i from 1 through 12 {
    .col-#{$screen-type}-#{$i}{
      flex-basis: math.div(100% , math.div(12 , $i)) - $gutter;
      max-width:  math.div(100% , math.div(12 , $i)) - $gutter;
    }
  }
}

@mixin display-types($screen-type: xxl){
  @each $display-value in $displays{
    .d-#{$screen-type}-#{$display-value}{
      display: $display-value;
    }
  }
}

@mixin spacing-types($screen-type: xxl){
  @each $spacing-name, $spacing-value in $margin-spacings{
    //Margins
    .mt-#{$screen-type}-#{$spacing-name}{
      margin-top: $spacing-value;
    }
    .mr-#{$screen-type}-#{$spacing-name}{
      margin-right: $spacing-value;
    }
    .mb-#{$screen-type}-#{$spacing-name}{
      margin-bottom: $spacing-value;
    }
    .ml-#{$screen-type}-#{$spacing-name}{
      margin-left: $spacing-value;
    }
  }
  @each $spacing-name, $spacing-value in $margin-spacings{
    //Paddings
    .pt-#{$screen-type}-#{$spacing-name}{
      padding-top: $spacing-value;
    }
    .pr-#{$screen-type}-#{$spacing-name}{
      padding-right: $spacing-value;
    }
    .pb-#{$screen-type}-#{$spacing-name}{
      padding-bottom: $spacing-value;
    }
    .pl-#{$screen-type}-#{$spacing-name}{
      padding-left: $spacing-value;
    }
  }
}

@each $name, $size in $breakpoints {
  @media (min-width: $size) {
    @include display-types($screen-type: $name);

    @include spacing-types($screen-type: $name);

    @include viewport-columns($screen-type: $name, $gutter: 1%);

    .no-gutters{
      @include viewport-columns($screen-type: $name, $gutter: 0%);      
    }

    .relaxed-gutters{
      @include viewport-columns($screen-type: $name, $gutter: 2%);
    }
  }
}